<form ng-submit="eventsNew.create()">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="eventsNew.event.name">
  </div>
  <div>
    <label for="latinName">Latin Name</label>
    <input type="text" name="latinName" id="latinName" ng-model="eventsNew.event.latinName">
  </div>
  <div>
    <label for="family">Family</label>
    <input type="text" name="family" id="family" ng-model="eventsNew.event.family">
  </div>
  <div>
    <label for="image">Image</label>
    <input base64 type="file" name="image" id="image" ng-model="eventsNew.event.base64">
  </div>

  <button>Create</button>
</form>
