<!-- Events Search -->

<p>
  Search by...
</p>

<button class="button_1_4" ng-click="eventsSearch.nearMeNow(); eventsSearch.searchButton(0)">near me now</button>
<button class="button_1_4" ng-click="eventsSearch.searchButton(1)">pick a time</button>
<button class="button_1_4" ng-click="eventsSearch.searchButton(2)">pick a place</button>
<button class="button_1_4" ng-click="eventsSearch.searchButton(3)">pick a category</button>

<div class="searchGridHidden clearfix" id="searchGrid">
  <!-- col 1 -->
  <div class="grid_item hidden">
    <form ng-submit="eventsSearch.manualSearch()">
      <label>postcode</label>
      <input type="text" ng-model="eventsSearch.postcode" placeholder="N3 2GL">
      <!-- <label>latitude</label>
      <input type="text" ng-model="eventsSearch.lat">
      <label>longitude</label>
      <input type="text" ng-model="eventsSearch.long"> -->
      <label>search distance (meters)</label>
      <input type="text" ng-model="eventsSearch.distance">
      <!-- <label>Number of results</label>
      <input type="text" ng-model="eventsSearch.limit"> -->
      <button>Go</button>
    </form>
  </div>
  <!-- col 2 -->
  <div class="grid_item hidden">
    <form ng-submit="eventsSearch.timeSearch()">
      <label>Start Time</label>
      <input type="text" ng-model="eventsSearch.startTime">
      <label>Finish Time</label>
      <input type="text" ng-model="eventsSearch.finishTime">
      <button>Go</button>
    </form>
  </div>
  <!-- col 3 -->
  <div class="grid_item hidden">
    <form ng-submit="eventsSearch.placeSearch()">
      <label>place name or postcode</label>
      <input type="text" ng-model="eventsSearch.placename">
      <label>search distance (meters)</label>
      <input type="text" ng-model="eventsSearch.distance">
      <!-- <label>Number of results</label>
      <input type="text" ng-model="eventsSearch.limit"> -->
      <button>Go</button>
    </form>
  </div>
  <!-- col 4 -->
  <div class="grid_item hidden">
    <form ng-submit="eventsSearch.categorySearch()">
      <label>Search Categories</label>
      <input type="text" ng-model="eventsSearch.category" placeholder="sports">
      <button>Go</button>
    </form>
  </div>
</div>



<button ng-click="eventsSearch.clearResults()">Clear Results</button>



<p class="none">
  data: {{ eventsSearch.search_results }}<br>
  ===================
</p>

<div class="tab-container clearfix">
  <div class="tabs" ng-click="eventsSearch.changeTab(1)">
    List
  </div>
  <div class="tabs active" ng-click="eventsSearch.changeTab(2)">
    Map
  </div>
  <div class="tabFiller60">
    this
  </div>

  <!-- Tab 1 list -->
  <div class="tab_content none">
    <div class="tab1 listContainer">
      <p>
        tab 1
      </p>
      <div class="eventsList" ng-repeat="event in eventsSearch.search_results">
          <img class="thumbnail" src="{{event.image}}" alt="thumbnail">
          <a ui-sref="eventsShow({ id: event.id })"><h2>{{ event.name }}</h2></a>
      </div>
    </div>
  </div>

  <!-- Tab 2 Map -->
  <div class="tab_content">
    <div class="tab2 mapContainer">
      <p>
        tab 2
      </p>
      <img class="map" src="./images/map.png" alt="map of events">
    </div>
  </div>


</div>
