<!-- Events Search -->

<p>
  Search by...
</p>

<button ng-click="eventsSearch.nearMeNow()">near me now</button>
<button>pick a time</button>
<button>pick a place</button>
<button>pick a category</button>


<form ng-submit="eventsSearch.sploosh()">
  <label>lat</label>
  <input type="text" ng-model="eventsSearch.lat">
  <label>long</label>
  <input type="text" ng-model="eventsSearch.long">
  <label>distance</label>
  <input type="text" ng-model="eventsSearch.distance">
  <label>limit</label>
  <input type="text" ng-model="eventsSearch.limit">
  <button>click</button>
</form>


<p class="none">
  data: {{ eventsSearch.data }}<br>
  ===================
</p>

<div class="listContainer">
  <div class="eventsList" ng-repeat="event in eventsSearch.data">
      <img class="thumbnail" src="{{event.image}}" alt="thumbnail">
      <a ui-sref="eventsShow({ id: event.id })"><h2>{{ event.name }}</h2></a>
  </div>
</div>
