
<img class="showImg" ng-src="{{ eventsShow.event.imageSRC }}">

<div class="details">
  <h2>{{ eventsShow.event.name }}</h2><a ui-sref="eventsEdit({ id: eventsShow.event.id })"><button>Edit</button></a>
  <button ng-click="eventsShow.delete()">Delete</button>


  <span class="about">{{ eventsShow.event.category }}</span>
  <a href="{{ eventsShow.event.website }}"><span class="about">Official Website</span></a>
  <span class="about">Location - {{ eventsShow.event.location.name }}</span>
  <span class="about"><button>see map</button><button>get directions</button></span>

  <span class="about">{{ eventsShow.event.details }}</span>
</div>
