<!-- Users Show -->
<div class="tab-container clearfix">
  <div class="tabs active" ng-click="usersShow.changeTab(1)">
    My Previous Events
  </div>
  <div class="tabs" ng-click="usersShow.changeTab(2)">
    My Favourites
  </div>
  <div class="tabs" ng-click="usersShow.changeTab(3)">
    Organised by me
  </div>
  <div class="tabs" ng-click="usersShow.changeTab(4)">
    Recomended for me
  </div>
  <div class="tabs" ng-click="usersShow.changeTab(5)">
    I'm attending
  </div>

  <div class="tab_content">
    <!-- Content 1 -->
    <div  ng-repeat="event in usersShow.events">
      <ul>
        <li><img src="{{event.image}}" alt="image"></li>
        <li>{{event.title}}</li>
        <li>{{event.date}}</li>
        <li>{{event.details | limitTo : 20}}</li>
      </ul>
    </div>
  </div>

</div>

<button ng-click="usersShow.splat()">Click</button>
