
<form ng-submit="login.submit()">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" ng-model="login.credentials.email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" ng-model="login.credentials.password">
  </div>

  <button>Login</button>

  <button ng-click="login.authenticate('github')">Sign in with GitHub</button>
  <button ng-click="login.authenticate('facebook')">Sign in with Facebook</button>
  <button ng-click="login.authenticate('instagram')">Sign in with Instagram</button>

</form>
