<!DOCTYPE html>
<html ng-app="eventApp">
<head>
  <base href="/">
  <title>Event App</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <main>
    <nav>
      <ul>
        <li ng-if="main.isAuthenticated()"><a ui-sref="eventsIndex">Events</a></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="eventsNew">Add an Event</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li>
        <li ng-if="main.isAuthenticated()"><button ng-click="main.logout()">Logout</button></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow"> Welcome back {{ main.currentUser.username }}<button>Profile</button></a></li>
      </ul>
    </nav>
    <div class="message" ng-if="main.message">{{ main.message }}</div>

    <hr>

    <view ui-view></view>

  </main>
</body>
</html>
