<!DOCTYPE html>
<html ng-app="eventApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Event App</title>
  <!-- inject:js -->
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <top>
    <nav class="nav">
      <a ui-sref="home"><img class="logo" src="../images/logo2.png"/></a>
      <span class="navlink"><a ui-sref="eventsIndex">Latest Events</a></span>
      <span class="navlink"><a ui-sref="eventsSearch">Search for Events</a></span>
      <span class="navlink"><a ui-sref="eventsNew">Make a new Event</a></span>
      <span class="navUser">
        <a ui-sref="login"><span class="navlink" ng-if="!main.isAuthenticated()">Login</span></a>
        <a ui-sref="register"><span class="navlink" ng-if="!main.isAuthenticated()">Register</span></a>
        <a ui-sref="usersShow"><span class="navlink" ng-if="main.isAuthenticated()">{{ main.currentUser.username }}</span></a>
        <span class="navlink" ng-if="main.isAuthenticated()" ng-click="main.logout()">Logout</span>
        <a ui-sref="usersShow"><span class="navlink" ng-if="main.isAuthenticated()">My Account</span></a>
      </span>
    </nav>
  </top>

  <main>
    <!-- <div class="message" ng-if="main.message">{{ main.message }}</div>  Do this as a modal-->
    <div class="advert">
    </div>
    {{ 1 + 1 }}
    <view ui-view></view>
  </main>
  <footer>
    Made slowly...
  </footer>
</body>
</html>
