.button_1_4 {
  box-sizing: border-box;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 2%;
  margin-right: 2.5%;

  padding: 6px;

  border: 2px solid grey;
  padding: 3px 5px;
  border-radius: 7px;

  background: inherit;
  font-size: 1em;
}
