body {
  margin: 0;
  background: white;
  font-size: 16px;
}

nav {
  background: #dfdffb;
  height: 115px;
  line-height: 160px;
  a {
    text-decoration: none;
    padding-left: 10px;
  }
  img {
    float: left;
  }
  .navUser {
    float: right;
    padding-right: 30px;
  }
}

main {
  width: 900px;
  margin: 20px auto;
  margin-left: 150px;
  padding: 10px;
  background: #7474ce;
  background: white;
  img {
    box-sizing: border-box;
    float: right;
    border: 2px solid #dfdffb;
    margin: 0 0 20px 20px;
    max-width: 50%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

ul {
  list-style: none;
  li {
    display: block;
    margin-right: 20px;
  }
}

.tab-container {
  width: 100%;
  margin: 0 auto;
  background: inherit;
  // font-size: 0;
}

.tabs {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  float: left;
  background: #f5f0c2;
  height: 60px;
  margin: 0;
  border: 2px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 10px;
  &.active {
    background: #f5ddc2;
    border-bottom: 0;
  }
}


.tabbed {
  box-sizing: border-box;
  width: 100%;
  background: #f5ddc2;
  border: 2px solid black;
  border-top: 0;
  font-size: 1em;
  float: left;
}

.listContainer {
  .eventsList {
    background: rgba(255, 83, 83, 0.4);
    margin: 1em 0;
    padding: 20px 10px;
    border: 2px solid #dfdffb;
    border-radius: 5px;
    height:120px;
    h2 {
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    .thumbnail {
      float: left;
      margin: 10px 20px 0 0;
      height: 100px;
      width: 150px;
      border: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}

.about {
  display: block;
  padding: 10px 0;
}


//  generic
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// generic
.none {
  display: none;
}
