@import "./_normalize.css";
@import "./_buttons.scss";
@import "./_tabbed.scss";
@import "./_footer.scss";

body {
  margin: 0;
  background: white;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  // Flex for sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.nav {
  background: #dfdffb;
  background: #dff8fb;
  height: 72px;
  line-height: 95px;
  .logo {
    padding-top: 2px;
  }
  .navlink {
    border: 2px solid grey;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 7px;
    color: blue;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
  img {
    float: left;
    width: 190px;
  }
  .navUser {
    float: right;
    padding-right: 30px;
  }
}

main {
  flex: 1 0 auto;
  margin-left: 135px;
  width: 980px;
  padding: 10px;
  background: #7474ce;
  background: white;
  .showImg {
    box-sizing: border-box;
    float: right;
    border: 2px solid #dfdffb;
    margin: 0 0 20px 20px;
    max-width: 50%;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

ul {
  list-style: none;
  li {
    display: block;
    margin-right: 20px;
  }
}



.listContainer {
  .eventsList {
    background: rgba(255, 83, 83, 0.1);
    margin: 1em 0;
    padding: 20px 10px;
    border: 2px solid #ff284d;
    border-radius: 5px;
    height:120px;
    h2 {
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    .thumbnail {
      float: left;
      margin: 10px 20px 0 0;
      height: 100px;
      width: 150px;
      border: 0;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}

form {
  display: inline-block;
  margin-bottom: 20px;
}

.map {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.about {
  display: block;
  padding: 10px 0;
}

// placeholder banner add
.advert {
  height: 90px;
  background-image: url("https://tpc.googlesyndication.com/simgad/6763093119725341082");
  border: 0px;
  width: 970px;
  margin-bottom: 20px;
}

//  generic
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// generic
.none {
  display: none;
}

.hidden {
  visibility: hidden;
}
